@{
    ViewData["Title"] = "Dashboard";
}

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Dashboard</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<!-- [ Main Content ] start -->
<div class="row">
    <!-- View Chart Start -->
    <div class="col-xl-4 col-md-6">
        <div class="card flat-card widget-primary-card bg-success-dark">
            <div class="row-table">
                <div class="col-sm-6 card-body bg-white">
                    <h6 class="text-dark m-b-5">Page Views</h6>
                    <h4 class="text-dark mb-0">3671</h4>
                </div>
                <div class="col-sm-6">
                    <div id="resource-barchart1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card flat-card widget-primary-card bg-primary-dark">
            <div class="row-table">
                <div class="col-sm-6 card-body bg-white">
                    <h6 class="text-dark m-b-5">Conversions</h6>
                    <h4 class="text-dark mb-0">1534</h4>
                </div>
                <div class="col-sm-6">
                    <div id="resource-barchart3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card flat-card widget-primary-card bg-danger-dark">
            <div class="row-table">
                <div class="col-sm-6 card-body bg-white">
                    <h6 class="text-dark m-b-5">Aquisitions</h6>
                    <h4 class="text-dark mb-0">3814</h4>
                </div>
                <div class="col-sm-6">
                    <div id="resource-barchart4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- View Chart End -->

    <div class="col-xl-7">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center text-center">
                    <div class="col-5">
                        <h6 class="text-muted">Real-Time Visits</h6>
                        <h3>53k</h3>
                    </div>
                    <div class="col-5">
                        <h6 class="text-muted">Returning Visitors</h6>
                        <h3>10k</h3>
                    </div>
                </div>
                <div id="seo-ecommerce-barchart"></div>
                <hr class="mb-3 mt-0">
                <div class="row justify-content-center text-center">
                    <div class="col-3 b-r-default">
                        <h5>85%</h5>
                        <p class="text-muted m-b-0">Satisfied</p>
                    </div>
                    <div class="col-3 b-r-default">
                        <h5>6%</h5>
                        <p class="text-muted m-b-0">Unsatisfied</p>
                    </div>
                    <div class="col-3">
                        <h5>9%</h5>
                        <p class="text-muted m-b-0">NA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-5">
        <div class="card app-design">
            <div class="card-body">
                <button class="btn btn-success float-right">Pending</button>
                <h6 class="f-w-400 text-muted">Landing Page Design</h6>
                <p class="text-c-green f-w-400">Webdesign</p>
                <hr class="my-4">
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <div class="design-description d-inline-block m-r-40">
                    <h3 class="f-w-400">271</h3>
                    <p class="text-muted">Question</p>
                </div>
                <div class="design-description d-inline-block">
                    <h3 class="f-w-400">816</h3>
                    <p class="text-muted">Comments</p>
                </div>
                <div class="team-box p-b-0">
                    <p class="d-inline-block m-r-20 f-w-400">Team</p>
                    <div class="team-section d-inline-block">
                        <a href="#!"><img src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" title="Lary Doe" alt="" class="m-l-5" /></a>
                        <a href="#!"><img src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" title="Alia" alt="" class="m-l-5" /></a>
                        <a href="#!"><img src="assets/images/user/avatar-2.jpg" data-toggle="tooltip" title="Josephin Doe" alt="" /></a>
                        <a href="#!"><img src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" title="Suzen" alt="" class="m-l-5" /></a>
                    </div>
                </div>
                <hr class="my-4">
                <div class="progress-box">
                    <p class="d-inline-block m-r-20 f-w-400">Progress</p>
                    <div class="progress d-inline-flex">
                        <div class="progress-bar bg-c-green" style="width:78%"><label>78%</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card table-card">
            <div class="card-header">
                <h5>New Products</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                            <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                            <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pro-scroll" style="height:350px;position:relative;">
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover m-b-0">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HeadPhone</td>
                                    <td><img src="assets/images/widget/p1.jpg" alt="" class="img-20" /></td>
                                    <td><label class="badge badge-light-warning">Pending</label></td>
                                    <td>$10</td>
                                    <td><a href="#!"><i class="icon feather icon-edit f-16 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Iphone 6</td>
                                    <td><img src="assets/images/widget/p2.jpg" alt="" class="img-20" /></td>
                                    <td><label class="badge badge-light-danger">Cancel</label></td>
                                    <td>$20</td>
                                    <td><a href="#!"><i class="icon feather icon-edit f-16 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Jacket</td>
                                    <td><img src="assets/images/widget/p3.jpg" alt="" class="img-20" /></td>
                                    <td><label class="badge badge-light-success">Success</label></td>
                                    <td>$35</td>
                                    <td><a href="#!"><i class="icon feather icon-edit f-16 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Sofa</td>
                                    <td><img src="assets/images/widget/p4.jpg" alt="" class="img-20" /></td>
                                    <td><label class="badge badge-light-danger">Cancel</label></td>
                                    <td>$85</td>
                                    <td><a href="#!"><i class="icon feather icon-edit f-16 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Iphone 6</td>
                                    <td><img src="assets/images/widget/p2.jpg" alt="" class="img-20" /></td>
                                    <td><label class="badge badge-light-success">Success</label></td>
                                    <td>$20</td>
                                    <td><a href="#!"><i class="icon feather icon-edit f-16 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a></td>
                                </tr>
                                <tr>
                                    <td>HeadPhone</td>
                                    <td><img src="assets/images/widget/p1.jpg" alt="" class="img-20" /></td>
                                    <td><label class="badge badge-light-warning">Pending</label></td>
                                    <td>$50</td>
                                    <td><a href="#!"><i class="icon feather icon-edit f-16 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Iphone 6</td>
                                    <td><img src="assets/images/widget/p2.jpg" alt="" class="img-20" /></td>
                                    <td><label class="badge badge-light-danger">Cancel</label></td>
                                    <td>$30</td>
                                    <td><a href="#!"><i class="icon feather icon-edit f-16 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 ml-3 f-16 text-c-red"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="user-card-body card">
            <div class="card-body">
                <div class="top-card text-center">
                    <img src="assets/images/user/avatar-2.jpg" class="img-fluid img-radius" alt="" />
                </div>
                <div class="card-contain text-center p-t-20">
                    <h5 class="text-capitalize p-b-10">Gregory Johnes</h5>
                    <p class="text-muted">Califonia, USA</p>
                </div>
                <div class="card-data m-t-40">
                    <div class="row">
                        <div class="col-4 border-right text-center">
                            <p class="text-muted">Followers</p>
                            <h4 class="mb-0 text-primary">345</h4>
                        </div>
                        <div class="col-4 border-right text-center">
                            <p class="text-muted">Following</p>
                            <h4 class="mb-0 text-primary">40</h4>
                        </div>
                        <div class="col-4 text-center">
                            <p class="text-muted">Answers</p>
                            <h4 class="mb-0 text-primary">40</h4>
                        </div>
                    </div>
                </div>
                <div class="card-button p-t-50">
                    <div class="row">
                        <div class="col-6 text-right">
                            <button class="btn btn-primary btn-round">Follow</button>
                        </div>
                        <div class="col-6 text-left">
                            <button class="btn btn-success btn-round">Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
